<!-- Homepage Header -->
<header class="homesplash">
<div class="home-body">
<div class="container" align="center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-5">
          <div class="home-img-container">
            <img class="home-img" src="/img/me.jpg"/>
          </div>
        </div>
        <div class="col-md-7">
          <h4 class="brand-heading">
            Chenchong</br>Charles <span class="make-yellow">Zhu</span>
          </h4>
          <p class="brand-subheading">Data Scientist</p>
          <p class="brand-subheading make-smaller">City of Toronto</p>
          <p class="address-text">chenchong.zhu AT gmail.com&nbsp&nbsp•&nbsp&nbspgithub.com/cczhu</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</header>
